<link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_style.css' />
<form action="" method="post">
<table width="98%" border="0" cellpadding="9" cellspacing="1" class="table">
			<tr class="tr ct">
				<td colspan="2">
					
					退款
				</td>
			</tr>
			

			<tr class="tr">
				<td>退款金额</td>
				<td>
					<input type="text" name="refound_money" size="10" value="{$orderInfo[pay_amount]}">
				</td>
			</tr>

			<tr class="tr ct">
				
				<td colspan="2">
					<input type="submit" value="退款">
				</td>
			</tr>
			
			
			

		</table>
</form>